body {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  background: #4e5359;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.key {
  background: #c2d1df;
  box-shadow: inset 0 2px 4px #000;
  border-radius: 20px;
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 5rem;
  margin: 2px 2px;
  cursor: pointer;
}
.key:active {
  box-shadow: none;
}
.key:hover {
  background: #2c71b6;
}
#header {
  font-size: 0.8rem;
}
#footer {
  text-transform: capitalize;
  width: 70%;
  font-size: 1rem;
  color: #c2d1df;
}
#calculator {
  position: relative;
  display: flex;
  width: 340px;
  justify-content: center;
  flex-wrap: wrap;
  background: #5f84a8;
  border: solid 3px #334659;
  border-radius: 20px;
  box-shadow: 0 4px 5px #000;
  padding: 10px;
  margin: 30px;
  font-size: 1.5rem;
  text-align: center;
}
#display-block {
  width: 336px;
  background: #c2d1df;
  height: 100px;
  border-radius: 20px;
  box-shadow: inset 0 2px 2px #000;
  overflow-wrap: break-word;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#actionkeys {
  display: flex;
  justify-content: space-evenly;
  width: 336px;
}
#operandkeys {
  display: flex;
  flex-direction: row-reverse;
  width: 252px;
  flex-wrap: wrap;
}
#operatorkeys {
  width: 82px;
  display: flex;
  flex-direction: column;
}
#clear,
#equals,
#zero {
  width: 161px;
}
#clear:hover,
#equals:hover {
  background: rgb(117, 58, 58);
}
